@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but still allow scroll */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}